.mainTitleProducts {
  margin: 1em auto;
  text-align: center;
  font-size: 3rem;
}

.quiky {
  position: absolute;
  text-align: center;
  padding-left: 34em;
}
.mobile1 {
  margin-left: 9em;
}
.mobile2 {
  margin-top: 5em;
}
.mobile3 {
  margin-top: 2em;
}
